<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Assembler</title>
    <link rel="stylesheet" href="{% static 'RISCReward/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'RISCReward/assets/css/styles.css' %}">
    <script type="text/javascript" src="{% static 'RISCReward/assets/jquery/jquery.js' %}">
    </script>
</head>

<body>
    <div class="hstack d-xl-flex align-items-xl-start" style="height: 500px;">
        <div class="container-fluid" style="margin-top: 5px; height: 100%; width: 60%">
            <form class="flex-grow-1" style="height: 100%;" action="" id="my_form" method="post">
                {% csrf_token %}
                <textarea class="form-control"  style="height: 100%; resize: none" name="my_code"></textarea>
                <button class="btn btn-primary" type="submit">Process</button>
            </form>
        </div>
        <div class="container flex-grow-1" style="height: 100%; width: 200%; margin-top: 5px; font-family: Consolas">
            <textarea class="form-control" style="height: 100%;padding: 6px 12px; resize: none" disabled id="pipeline">Pipeline Diagram
            </textarea>
        </div>
        <div class="container flex-grow-1" style="height: 100%; width: 50%; margin-top: 5px;">
            <textarea class="form-control" style="height: 100%;padding: 6px 12px; resize: none" disabled id="byte_code">Code output will appear here
            </textarea>
        </div>
        <div class="container flex-grow-1" style="height: 100%;margin-top: 5px;">
            <textarea class="form-control" style="height: 100%;padding: 6px 12px; resize: none"
                      disabled id="code_output">Code output will appear here
            </textarea>
        </div>
    </div>
    <script src="{% static 'RISCReward/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        $('#my_form').submit(function(e){
            $.post('parse_code/', $(this).serialize(), function(data){
                const out = JSON.parse(data);
                $('#byte_code').html(out["bin"]);
                $('#code_output').html(out["out"])
                $('#pipeline').val(out["pipeline"])
            });
            e.preventDefault();
        });
    </script>
</body>
</html>